$header-font-color: #000;
$header-font-opacity: 0.75;

$sign-in-background-color: #34e0b5;
$sign-in-color: rgb(255, 255, 255);

$google-search-background-color: #34e0b5;
$google-search-border-color: #34e0b5;
$google-search-background-color-hover: #a5a5a5;
$google-search-border-color-hover: #a5a5a5;
.theme-blue {
  background-color: #add7ff;
}