$header-font-color: #000;
$header-font-opacity: 0.75;

$sign-in-background-color: #4683ea;
$sign-in-color: rgb(255, 255, 255);

$google-search-background-color: #f2f2f2;
$google-search-border-color: #f2f2f2;
$google-search-background-color-hover: #a5a5a5;
$google-search-border-color-hover: #a5a5a5;