$header-font-color: #fff;
$header-font-opacity: 0.75;

$sign-in-background-color: #fff;
$sign-in-color: #000;

$google-search-background-color: #fff;
$google-search-border-color: #fff;
$google-search-background-color-hover: #a5a5a5;
$google-search-border-color-hover: #a5a5a5;
.theme-black {
  background-color: #000;

  #theme-select {
    color: #fff;
    option {
      background-color: rgb(131, 131, 131);
    }
  }
}