:root {
  --buttons-m-common-width: 46px;
}

html, body {
  height: 100%;
  margin: 0px;
}

#calculator-body {
  background-color: #dddddd;
  width: 50%;
  margin-left: 25%;
  float: left;
}

#calculator-header {
  height: 30px;
}

#calculator-title {
  position: absolute;
  margin: 9px;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

#windows-options {
  float: right;
}

.windows-option-button {
  height: 30px;
  width: 40px;
  margin: 0;
  border: none;
  background: none;
}

#calculator-alt {
  height: 40px;
}

#standard {
  position: absolute;
  margin: 9px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

#screen {
  height: 10%;
  padding-top: 10px;
  padding-right: 10px;
}

#screen-text {
  text-align: right;
  height: 100%;
  margin: 0;
  font-size: 37px;
  font-family: Arial, Helvetica, sans-serif;
}

#buttons-m {
  height: 5%;
}

.buttons-m-common {
  margin: 0px;
  height: 100%;
  width: var(--buttons-m-common-width);
  border: none;
  font-size: 13px;
  text-align: center;
  background: none;
}

.buttons-m-unable {
  color: #cccccc;
  pointer-events: none;
}

#calculator-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-buttons-line {
  height: 16.66%;
  width: 100%;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
}

.main-buttons {
  float: left;
  height: 100%;
  width: 25%;
  margin: 0 1px;
  padding: 0px;
  text-align: center;
  background-color: #f1f1f1;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.main-buttons-number {
  background-color: #fafafa;
  font-size: 16px;
  font-weight: bold;
}

.main-buttons-calculate {
  background-color: #a2a2ff;
}